body {
    font-family: Arial, sans-serif;
}
  
#colorGrid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 2px;
    width: 400px;
    height: 400px;
}

.color {
    width: calc(100% / 16);
    height: calc(100% / 16);
    cursor: pointer;
}

#texto {
    margin-top: 20px;
}