body {
    font-family: Arial, sans-serif;
}

#colorGrid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 2px;
    width: 400px;
    height: 400px;
}

.color {
    width: calc(100% / 16);
    height: calc(100% / 16);
    cursor: pointer;
    float: left; /* Alinear los elementos en la cuadrícula */
}

#selectedColor {
    margin-top: 20px;
    font-size: 18px;
}